li{
    list-style-type: none;
    display: inline;
}


.site-footer{
    background-color: black;
    color: darkorange;
}

.button2{
    width: 60px;
}

#welcomebanner {
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
}

